<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.sajjadboodaghi.niraa_admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:noHistory="true" />
        <activity android:name=".Activities.ItemActivity" />
        <activity android:name=".Activities.ChangeCategoryActivity" />
        <activity android:name=".Activities.ChangePlaceActivity" />
        <activity android:name=".Activities.EditItemActivity" />
        <activity android:name=".Activities.UserItemsActivity" />
        <activity android:name=".Activities.SuggestsActivity" />
        <activity android:name=".Activities.ReportsActivity" />
        <activity android:name=".Activities.UsersActivity" />
        <activity android:name=".Activities.DeleteItemActivity" />
        <activity android:name=".Activities.StoryActivity" />
        <activity android:name=".Activities.BroadcastActivity"></activity>
    </application>

</manifest>